version: '3.4'

services:
  backend:
    image: proyectocoqui
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secrettest
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
